@{
    ViewData["Title"] = "Home Page";
}
<h1>Home Page - EF Core</h1>
<ul>
    <li><a asp-controller="Sessions" asp-action="Index">Sessions</a></li>
    <li><a asp-controller="Sessions" asp-action="Seed">Seed Sessions</a></li>
</ul>
